/* .dataTables_length,
.dataTables_info {
    margin-left: 20px;
}

.dataTables_filter {
    margin-right: 20px;
}
.datatTables_paginate {
    margin-right: 20px;
}

.datatTables_paginate,
.dataTables_info {
    margin-bottom: 20px;
} */

/* #karyawan_filter {
    padding-right: 20px;
}

#karyawan_info {
    padding-left: 20px;
    padding-bottom: 20px;
}

#karyawan_paginate {
    padding-right: 20px;
    padding-bottom: 20px;
}
#dashboardAdmin_length {
    padding-left: 20px;
}

#dashboardAdmin_filter {
    padding-right: 20px;
}

#dashboardAdmin_info {
    padding-left: 20px;
    padding-bottom: 20px;
}

#dashboardAdmin_paginate {
    padding-right: 20px;
    padding-bottom: 20px;
} */
